.agile-content-wrapper {
    @apply flex items-center justify-center py-4;
}

.agile-content {
    @apply max-w-[92%];
}

.list-item2 {
    list-style: disc outside none;
    display: list-item;
    margin-left: 1em;
}

.para {
    @apply ml-1;
}

.italic-def {
    @apply italic;
}
